@tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width: 700px) {
    @keyframes scroll {
        0% {
          transform: translateX(100%); /* Start off-screen to the right */
        }
        100% {
          transform: translateX(-100%); /* Move off-screen to the left */
        }
      }
      
      .animate-scroll {
        animation: scroll 35s linear infinite; /* Adjust the duration as needed */
      }
      
      @media (max-width: 640px) {
        .animate-scroll {
          animation-duration: 40s; /* Faster scroll on smaller devices */
        }
      }
      
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid rgb(235, 232, 232);
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
